.trainingCard {
    background-color: #1B3B5E ;
}
.modifierButtons {
    padding-top: 2%;
}
.mat-raised-button{
    margin-right: 5% !important;
    width: 25% !important;
    min-width: unset !important;
    padding: 0;
    margin-bottom: 12px;
}
.mat-icon {
    font-size: medium;
}

