.trainingCard {
    background-color: #1B3B5E ;
}
.trainingCard:hover {
    background-color: #2e5b8b ;
    cursor: pointer;
}
.modifierButtons {
    padding-top: 2%;
}
.mat-raised-button {
    margin-right: 5% !important;
    width: 25% !important;
    min-width: unset !important;
    padding: 0;
}
.mat-icon {
    font-size: medium;
}
