<mat-card class="trainingCard" matTooltip="Click to view details" [matTooltipPosition]="tooltipPosition" (click)="openDetailDialog()">
    <mat-card-title> 
        <mat-icon> event </mat-icon>
        {{formatFullDate(trainingData.startTime)}} 
    </mat-card-title>
    <mat-card-subtitle> 
        <mat-icon> schedule </mat-icon>
        {{formatHourDate(trainingData.startTime)}} - {{formatHourDate(trainingData.endTime)}} 
    </mat-card-subtitle>
    <mat-card-content>        
        <p *ngIf="trainingData.location">
            <mat-icon> place </mat-icon>
            {{ trainingData.location.name }}
        </p>
        <div class="modifierButtons">
            <button mat-raised-button matTooltip="Edit training" [matTooltipPosition]="tooltipPosition" (click)="openEditTrainingDialog()" *ngIf="this.roles.includes('admin') || this.roles.includes('coach')">
                <mat-icon> edit </mat-icon>
            </button>
            <button mat-raised-button color="warn" matTooltip="Delete training" [matTooltipPosition]="tooltipPosition" (click)="deleteTraining()" *ngIf="this.roles.includes('admin') || this.roles.includes('coach')">
                <mat-icon> delete </mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>
