<mat-card>
    <mat-card-title>
        Select all roles that apply to this user
    </mat-card-title>
    <mat-card-content>
        <mat-selection-list #userRoles (selectionChange)="updateSelected()">
            <mat-list-option checkboxPosition="before" *ngFor="let role of this.roles" [value]="role" [selected]="data.user.roles.includes(role)">
                {{ role }}
            </mat-list-option>
        </mat-selection-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="close('save')">
            Ok
        </button>
        <button mat-raised-button color="basic" (click)="close('cancel')">
            Cancel
        </button>
    </mat-card-actions>
</mat-card>
