<mat-card>
    <mat-card-title style="text-align:center;">SignIn/SignUp</mat-card-title>
    <mat-tab-group>
        <mat-tab label="Log In">
            <mat-card-content>
                <form action="">
                    <mat-form-field>
                        <input matInput placeholder="Email" name="email" [formControl]="emailLoginControl">
                        <mat-error *ngIf="emailLoginControl.errors && emailLoginControl.errors.email">
                            Email is invalid
                        </mat-error>
                        <mat-error *ngIf="emailLoginControl.errors && emailLoginControl.errors.required">
                            Email is required
                        </mat-error>
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" name="password" [formControl]="passwordLoginControl">
                        <mat-error *ngIf="passwordLoginControl.errors && passwordLoginControl.errors.required">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="passwordLoginControl.errors && passwordLoginControl.errors.minlength">
                            Password must be of length 6
                        </mat-error>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="login-button" (click)="signIn()">
                        Sign In
                    </button>
                </form>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="Register">
            <mat-card-content>
                <form action="">
                    <mat-form-field>
                        <input matInput placeholder="Name" required name="name" [formControl]="nameControl">
                            <mat-error *ngIf="nameControl.errors && nameControl.errors.nameRegEx">
                                Name is invalid. Please don't use anything but characters from the hungarian alphabet.
                            </mat-error>
                        <mat-icon matSuffix>perm_identity</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Email" name="email" [formControl]="emailControl">
                            <mat-error *ngIf="emailControl.errors && emailControl.errors.email">
                                Email is invalid
                            </mat-error>
                            <mat-error *ngIf="emailControl.errors && emailControl.errors.required">
                                Email is required
                            </mat-error>
                            <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker" placeHolder="Date of birth" required name="birthdate" [formControl]="birthControl">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="birthControl.errors && birthControl.errors.required">
                            Date of birth is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" name="password"
                            [formControl]="passwordControl">
                        <mat-error *ngIf="passwordControl.errors && passwordControl.errors.required">
                            Password is required
                        </mat-error>
                        <mat-error *ngIf="passwordControl.errors && passwordControl.errors.minlength">
                            Password must be of length 6
                        </mat-error>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Password" type="password" name="repassword"
                            [formControl]="rePasswordControl">
                        <mat-error *ngIf="rePasswordControl.value != passwordControl.value">
                            Passwords must match
                        </mat-error>
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                    <button mat-raised-button color="primary" class="login-button" (click)="register()">
                        Sign Up
                    </button>
                </form>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>