<mat-card>
    <mat-card-title style="text-align:center;" *ngIf="mode==='new'">Add new training</mat-card-title>
    <mat-card-title style="text-align:center;" *ngIf="mode==='edit'">Edit training</mat-card-title>
    <mat-card-content>
        <form action="">
            <mat-form-field>
                <mat-label> Location </mat-label>
                <mat-select #locationSelector [(value)]="selectedLocationId" required>
                    <mat-option *ngFor="let location of locations" [value]="location.id">
                        {{location.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> Type </mat-label>
                <mat-select #typeSelector [(value)]="selectedType" required>
                    <mat-option *ngFor="let type of trainingTypes" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Choose a day</mat-label>
                <input matInput [matDatepicker]="picker" placeHolder="Date of training" required name="day"
                    [formControl]="dateControl" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker [startAt]="displayDate"></mat-datepicker>
                <mat-error *ngIf="dateControl.errors && dateControl.errors.required">
                    Date of training is required
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="time" id="startTime" name="startTime" min="07:00" max="22:00" required
                    [formControl]="startTimeControl">
                <mat-hint>Start hour of the training</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="time" id="endTime" name="endTime" min="07:00" max="23:00" required
                    [formControl]="endTimeControl">
                <mat-hint>End hour of the training</mat-hint>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label> Groups </mat-label>
                <mat-select #groupSelector [(value)]="selectedGroups" [formControl]="groupControl" multiple>
                    <mat-option *ngFor="let group of this.groups" [value]="group.id">
                        {{group.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" class="login-button" (click)="saveTraining()">
            Save
        </button>
        <button mat-raised-button color="secondary" class="cancel-button" (click)="cancel()">
            Cancel
        </button>
    </mat-card-content>
</mat-card>