<mat-card>
    <mat-tab-group>
        <mat-tab *ngIf="roles.includes('admin')" label="All finances">
            <mat-card-content>
                <table mat-table [dataSource]="adminDataSource" matSort class="mat-elevation-z8">
                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let payment"> {{formatFullDate(payment.time)}} {{formatHourDate(payment.time)}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let payment">
                            <p *ngIf="payment.user"> {{payment.user.name}} </p>
                            <p *ngIf="!payment.user" class="noUser"> User is no longer available.</p>

                        </td>
                    </ng-container>
                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let payment">
                            <p *ngIf="payment.user"> {{payment.user.email}} </p>
                            <p *ngIf="!payment.user" class="noUser"> See desciption for further information. </p>
                        </td>
                    </ng-container>
                    <!-- Amount Column -->
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                        <td mat-cell *matCellDef="let payment">
                            <p *ngIf="payment.amount > 0" class="expense"> {{ payment.amount }} </p>
                            <p *ngIf="payment.amount < 0" class="income"> {{ (-1) * payment.amount }} </p>
                            <p *ngIf="payment.amount === 0"> {{payment.amount}} </p>
                        </td>
                    </ng-container>
                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let payment"> {{payment.status}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="adminDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: adminDisplayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-tab>
        <mat-tab label="My finances">
            <mat-card-content>
                <table mat-table [dataSource]="userDataSource" matSort class="mat-elevation-z8">
                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                        <td mat-cell *matCellDef="let payment"> {{formatFullDate(payment.time)}} {{formatHourDate(payment.time)}} </td>
                    </ng-container>
                    <!-- Amount Column -->
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                        <td mat-cell *matCellDef="let payment">
                            <p *ngIf="payment.amount > 0" class="income"> {{payment.amount}} </p>
                            <p *ngIf="payment.amount < 0" class="expense"> {{ (-1) * payment.amount}} </p>
                            <p *ngIf="payment.amount === 0"> {{payment.amount}} </p>
                        </td>
                    </ng-container>
                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                        <td mat-cell *matCellDef="let payment"> {{payment.status}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="userDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-tab>
    </mat-tab-group>
</mat-card>
