#headerContainer {
    height: 10%;
    background-image: url("../assets/header.jpg");
    background-position: center;
    background-size: cover;
}
#hka-logo {
    align-content: center;
}
#contentRowContainer {
    height: 90%;
}
// .bordered {
//     border: 2px;
//     border-style: solid;
//     border-color:maroon;
// }
#socialMediaContainer {
    padding-top: 2%;
    background: #0a1e33;
    color: #a6e2fc;
    text-align: center;
}

.loginButton {
    background-color: #1f7ca3;
}
