mat-sidenav-container {
    height: 100%;
}
mat-sidenav, mat-sidenav-content {
    padding: 16px;
}
mat-sidenav {
    background-color: #0a1e33;
}

.mat-drawer-transition .mat-drawer-content {
    transition-duration: 0s !important;
}
