<mat-sidenav-container>
    <mat-sidenav opened mode="side" *ngIf="!menuExpanded">
        <div class="menuItem">
            <a class="menuButton" (click)="menuExpanded=!menuExpanded">
                <mat-icon> menu </mat-icon>
            </a>
        </div>
        <app-nav-bar [displayText]="false" ></app-nav-bar>
        <div class="menuItem">
            <a class="menuButton" *ngIf="!isUserLoggedIn" (click)="openLoginDialog()">
                <mat-icon> login </mat-icon>
            </a>
            <a class="menuButton" *ngIf="isUserLoggedIn" (click)="logOut()">
                <mat-icon> logout </mat-icon>
            </a>
        </div>
    </mat-sidenav>
    <mat-sidenav opened mode="side" *ngIf="menuExpanded">
        <div class="menuItem">
            <a class="menuButton" (click)="menuExpanded=!menuExpanded">
                <mat-icon> menu </mat-icon>
            </a>
        </div>
        <app-nav-bar [displayText]="true" ></app-nav-bar>
        <div class="menuItem">
            <a class="menuButton" *ngIf="!isUserLoggedIn" (click)="openLoginDialog()">
                <mat-icon> login </mat-icon>
                <span *ngIf="menuExpanded" class="menuButtonText">Login</span>
            </a>
            <a class="menuButton" *ngIf="isUserLoggedIn" (click)="logOut()">
                <mat-icon> logout </mat-icon>
                <span *ngIf="menuExpanded" class="menuButtonText">Logout</span>
            </a>
        </div>
    </mat-sidenav>

    <mat-sidenav-content (click)="menuExpanded=false" >
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>


