<div fxLayout="column" fxFlexFill>
    <div id="headerContainer" fxLayout="row" class="bordered">
        <img>
    </div>
    <div id="contentRowContainer" fxLayout="row">
        <div id="navBarContainer" fxFlex=15 class="bordered">
            <app-nav-bar></app-nav-bar>
        </div>
        <div id="contentContainer" fxFlex=70 class="bordered">
            <router-outlet></router-outlet>
        </div>
        <div id="socialMediaContainer" fxFlex=15 class="bordered">
            <button class="loginButton" *ngIf="!isUserLoggedIn" mat-raised-button (click)="openLoginDialog()">
                <mat-icon> login </mat-icon>
                Login / Register
            </button>
            <button class="loginButton" *ngIf="isUserLoggedIn" mat-raised-button (click)="logOut()">
                <mat-icon> logout </mat-icon>
                Logout
            </button>
            <br />
            <div id="hka-logo">
                <a href="http://www.hoffmannakademia.hu/">
                    <img src="../assets/cropped-hka-logo.png" width="40%" height="40%" >
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/hoffmann.akademia/">
                    <img src="../assets/instagram_mini.png" width="10%" height="0%" >
                </a>
                <a href="https://www.facebook.com/hoffmannakademia">
                    <img src="../assets/facebook_mini.png" width="10%" height="10%" >
                </a>
                <a href="https://www.youtube.com/channel/UCicLYoQFtJB_onWi0zJPTdQ">
                    <img src="../assets/youtube_mini.png" width="10%" height="10%" >
                </a>
            </div>
        </div>
    </div>
</div>