table {
    width: 100%;
    color: #a6e2fc;
}

.mat-raised-button{
    margin-right: 12px;
}

.mat-standard-chip{
    margin: 8px !important;
}

.mat-form-field{
    margin-top: 8px !important;
}

.nodata {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center !important;
  }
