<table mat-table [dataSource]="paymentDataSource" matSort class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let payment"> {{payment.user.name}} </td>
    </ng-container>
    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let payment"> {{payment.user.email}} </td>
    </ng-container>
    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
        <td mat-cell *matCellDef="let payment"> 
            <p *ngIf="payment.amount > 0" class="expense"> {{ payment.amount }} </p>
            <p *ngIf="payment.amount < 0" class="income"> {{ (-1) * payment.amount }} </p>
            <p *ngIf="payment.amount === 0"> {{payment.amount}} </p>
        </td>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let payment"> {{payment.status}} </td>
    </ng-container>
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let payment; let i = index">
            <button *ngIf="payment.status === 'pending'" mat-raised-button matTooltip="Set paid status" (click)="changePaymentStatus(payment, i, 'paid')">
                <mat-icon> paid </mat-icon>
            </button>
            <button *ngIf="payment.status === 'paid'" mat-raised-button matTooltip="Remove paid status" (click)="changePaymentStatus(payment, i, 'pending')">
                <mat-icon> money_off </mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>